h1 {
    text-align: center;
}

body {
    background-image: url();
    background-color: rgb(210, 224, 231);
}

.QAreg {
    text-align: center1;
}

.QAreg > input {
    margin-bottom: 15px;
    width: 150px;
    height: 25px;
    background-color: rgb(206, 240, 228);
}