.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px;
    grid-template-areas: 
    "header header header header" 
    "main main main main" 
    "main main main main" 
    "main main main main" 
    "main main main main" 
    "main main main main" 
    "footer footer footer footer";
  }
  .item-header {
    grid-area: header;
  }
  .item-footer {
    grid-area: footer;
  }